<template name="home">
<div class="container">
	<div class="row">
		<div class="col m12">
			<div id="home-title"><h3>Hanz <i id="heart" class="fa fa-heart animated"></i> Clare</h3></div>
		</div>
	</div>
</div>
<div id="slider">
<div class="container container-full-width">
  	<div class="row">
	  	<div class="col s12">
  			<div class="slider">
			   <ul class="slides">
			     <li>
			       <img src="DSC_0787.JPG"> <!-- random image -->
			       <div class="caption center-align">
			         <h3 class="" style="margin-top:16rem;">Pure Love</h3>
			       </div>
			     </li>
			     <li>
			       <img src="IMG_2366.jpg"> <!-- random image -->
			       <div class="caption left-align">
			         <h3>NASA Park</h3>
			       </div>
			     </li>
			     <li>
			       <img src="IMG_2815.jpg"> <!-- random image -->
			       <div class="caption right-align">
			         <h3>Golden Gate Park</h3>
			       </div>
			     </li>
			     <li>
			       <img src="IMG_2748.jpg"> <!-- random image -->
			       <div class="caption center-align">
			         <h3>Mission San Jose Church</h3>
			       </div>
			     </li>
			   </ul>
			</div>
		</div>
	</div>
</div>
</div>
<div class="container">
  	<div class="row">
	  	<div class="col s12 m6 l3">
		    <div class="card">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="DSC_0773.JPG">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Aug.17 2015<i class="material-icons right">more_vert</i></span>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Aug.17 2015<i class="material-icons right">close</i></span>
		      <p>One day in Palace of Fine Arts Theatre.</p>
		    </div>
	  		</div>
  		</div>
  		<div class="col s12 m6 l3">

		    <div class="card">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="2081998031.jpg">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">May.16 2015<i class="material-icons right">more_vert</i></span>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">May.16 2015<i class="material-icons right">close</i></span>
		      <p>That was a big birthday surprise.</p>
		    </div>
	  		</div>
  		</div>
  		<div class="col s12 m6 l3">

		    <div class="card">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="6511594514.jpg">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Feb.14 2015<i class="material-icons right">more_vert</i></span>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Feb.14 2015<i class="material-icons right">close</i></span>
		      <p>Valentine's day, we were on a beach along CA-1.</p>
		    </div>
	  		</div>
  		</div>

    	<div class="col s12 m6 l3">

		    <div class="card">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="11039750_859522930761242_1004611340_n.jpg">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Nov.26 2014<i class="material-icons right">more_vert</i></span>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Nov.26 2014<i class="material-icons right">close</i></span>
		      <p>Happy birthday~~~</p>
		    </div>
	  		</div>
  		</div>
  	</div>
</div>
</template>